name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch.
on:
  push:
    branches: [ master ]
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

env:
  PGPASSWORD: gis

jobs:
  # This workflow runs the tests
  tests:

    # Setup test matrix
    strategy:
      fail-fast: false
      matrix:
        python-version: [
          # {"pkg_name": "python==3.7", "flag": "3.7"},
          # {"pkg_name": "python==3.8", "flag": "3.8"},
          # {"pkg_name": "python==3.9", "flag": "3.9"},
          # {"pkg_name": "python==3.10", "flag": "3.10"},
          {"pkg_name": "pypy3.8", "flag": "pypy3.8"},
        ]

    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    services:
      postgres:
        image: mdillon/postgis:11
        env:
          POSTGRES_DB: gis
          POSTGRES_PASSWORD: gis
          POSTGRES_USER: gis
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:

    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v3

    # Setup Conda for Python and Pypy
    - name: Install Conda environment with Micromamba
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: false
        environment-name: test_${{ matrix.python-version.flag }}
        channels: conda-forge,defaults
        cache-downloads: true
        extra-specs: |
          ${{ matrix.python-version.pkg_name }}
          libspatialite
          pyproj

    # Config PostgreSQL
    - name: Configure PostgreSQL
      run: |
        # Create schema "gis" into database "gis"
        psql -h localhost -p 5432 -U gis -d gis -c 'CREATE SCHEMA gis;'

        # Add PostGIS extension to "gis" database
        psql -h localhost -p 5432 -U gis -d gis -c 'CREATE EXTENSION IF NOT EXISTS postgis;'

        # Drop PostGIS Tiger Geocoder extension to "gis" database
        psql -h localhost -p 5432 -U gis -d gis -c 'DROP EXTENSION IF EXISTS postgis_tiger_geocoder CASCADE;'

    # Check python version
    - name: Display Python version
      shell: bash -l {0}
      run: |
        /home/runner/micromamba-bin/micromamba info
        ls /home/runner/micromamba-root/envs/test_pypy3.8/lib
        python -c "import sys; print(sys.version)"

    # Install dependencies
    - name: Install dependencies
      run: |
        pip install --upgrade pip setuptools
        pip install tox-gh-actions

    # Run the test suite
    - name: Run the tests
      env:
        SPATIALITE_LIBRARY_PATH: /home/runner/micromamba-root/envs/test_${{ matrix.python-version.flag }}/lib/mod_spatialite.so
        PROJ_LIB: /home/runner/micromamba-root/envs/test_${{ matrix.python-version.flag }}/share/proj
        COVERAGE_FILE: .coverage
      run: |
        # Run the unit test suite with SQLAlchemy=1.1.2 and then with the latest version of SQLAlchemy
        tox -vv

    # Export coverage to Coveralls
    - name: Coveralls
      uses: AndreMiras/coveralls-python-action@v20201129
      with:
        parallel: true
        flag-name: run-${{ matrix.python-version.flag }}


  # This workflow aggregates coverages from all jobs and export it to Coveralls
  coveralls:
    needs: tests
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: AndreMiras/coveralls-python-action@v20201129
      with:
        parallel-finished: true
        github-token: ${{ secrets.github_token }}

  # This workflow deploys the package
  deploy:

    needs: tests
    runs-on: ubuntu-18.04
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')

    steps:

    - uses: actions/checkout@v3

    - name: Set up Python 3.7
      uses: actions/setup-python@v4
      with:
        python-version: 3.7

    # Build distribution and deploy to Pypi
    - name: Build and deploy package
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        pip install --upgrade pip setuptools build twine
        python -m build -o dist
        twine upload dist/*
