name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch.
on:
  push:
    branches: [ master ]
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

env:
  PGPASSWORD: gis

jobs:
  # This workflow runs the tests
  tests:

    # Setup test matrix
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "pypy-3.8"]

    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    services:
      postgres:
        image: mdillon/postgis:11
        env:
          POSTGRES_DB: gis
          POSTGRES_PASSWORD: gis
          POSTGRES_USER: gis
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:

    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v3

    # Setup Python
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64

    # Config PostgreSQL
    - name: Configure PostgreSQL
      run: |
        # Create schema "gis" into database "gis"
        psql -h localhost -p 5432 -U gis -d gis -c 'CREATE SCHEMA gis;'

        # Add PostGIS extension to "gis" database
        psql -h localhost -p 5432 -U gis -d gis -c 'CREATE EXTENSION IF NOT EXISTS postgis;'

    # Check python version
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"

    # Install dependencies
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y autotools-dev \
                                git \
                                libexpat1-dev \
                                libfreexl-dev \
                                libgeos-dev \
                                libproj-dev \
                                libreadline-dev \
                                libsqlite3-dev \
                                libsqlite3-mod-spatialite \
                                libxml2-dev \
                                zlib1g-dev
        pip install --upgrade pip setuptools
        pip install tox-gh-actions

    # Run the test suite
    - name: Run the tests
      env:
        SPATIALITE_LIBRARY_PATH: /usr/lib/x86_64-linux-gnu/mod_spatialite.so
        COVERAGE_FILE: .coverage
      run: |
        # Run the unit test suite with SQLAlchemy=1.1.2 and then with the latest version of SQLAlchemy
        tox -vv

    # Export coverage to Coveralls
    - name: Coveralls
      uses: AndreMiras/coveralls-python-action@v20201129
      with:
        parallel: true
        flag-name: run-${{ matrix.python-version }}


  # This workflow aggregates coverages from all jobs and export it to Coveralls
  coveralls:
    needs: tests
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: AndreMiras/coveralls-python-action@v20201129
      with:
        parallel-finished: true
        github-token: ${{ secrets.github_token }}

  # This workflow deploys the package
  deploy:

    needs: tests
    runs-on: ubuntu-18.04
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')

    steps:

    - uses: actions/checkout@v3

    - name: Set up Python 3.7
      uses: actions/setup-python@v4
      with:
        python-version: 3.7

    # Build distribution and deploy to Pypi
    - name: Build and deploy package
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        pip install --upgrade pip setuptools build twine
        python -m build -o dist
        twine upload dist/*
